* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

.container {
    position: relative;
    width: 85vw;
    height: 90vh;
    margin: 5vh auto 0;
}

.card-system {
    position: absolute;

    .animation {
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 0 0 3vh;

        div {
            display: inline-flex;
            margin: 5px 10px;
            justify-content: center;
            align-items: center;

            label {
                margin-right: 5px;
            }
        }
    }

    .cards {
        column-count: 6;
        column-width: 200px;
        column-gap: 20px;
    }

    .one-card {
        display: block;
        margin: 0 auto 20px;
        position: relative;
        page-break-inside: avoid;
        break-inside: avoid-column;
        transition: 1s all;
        z-index: 1;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:hover {
            box-shadow: 0 0 10px #555;
        }
    }
}

.card-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
    opacity: 0;
}


/* animation one */
.anim1-enter {

    opacity: 0;

    a {
        &.active {
            transform: scale(3);
        }

        &:not(.active) {
            transform: scale(.7);
        }
    }

    .overlay {
        opacity: 1;
        z-index: 2;
    }
}

.anim1-enter.anim1-enter-active {

    opacity: 1;
    transition: 1s all linear 1s;

    a {
        transform: scale(1);
        transition: 1s all linear 1s;
    }

    .overlay {
        opacity: 0;
        z-index: 0;
        transition: 1s all linear;
    }
}

.anim1-exit {

    opacity: 1;

    a {
        transform: scale(1);
    }

    .overlay {
        opacity: 0;
        z-index: 2;
    }
}

.anim1-exit.anim1-exit-active {

    opacity: 0;
    transition: 1s all linear 1s;

    a {
        &.active {
            transform: scale(3);
        }

        &:not(.active) {
            transform: scale(.7);
        }

        transition: 1s all linear 1s;
    }

    .overlay {
        opacity: 1;
        z-index: 2;
        transition: 1s all linear;
    }
}

/* animation two */
.anim2-enter {

    opacity: 0;

    a {
        transform: scale(3);
    }

    .overlay {
        opacity: 1;
        z-index: 3;
    }
}

.anim2-enter.anim2-enter-active {

    opacity: 1;
    transition: 1s all linear 1s;

    a {
        transform: scale(1);
        transition: 1s all linear 1s;
    }

    .overlay {
        opacity: 0;
        z-index: 0;
        transition: 1s all linear;
    }
}

.anim2-exit {

    opacity: 1;

    a {
        transform: scale(1);
    }

    .overlay {
        opacity: 0;
        z-index: 3;
    }
}

.anim2-exit.anim2-exit-active {

    opacity: 0;
    transition: 1s all linear 1s;

    a {
        transform: scale(3);
        transition: 1s all linear 1s;
    }

    .overlay {
        opacity: 1;
        z-index: 3;
        transition: 1s all linear;
    }
}